<?xml version="1.0"?>
<launch>
        <!-- maps inside the folder summit_xl_navigation/maps -->
	<arg name="map_file" default="map1/map1.yaml"/>
        <arg name="summit_namespace" default="summit_xl_"/>
        <arg name="frame_id" default="$(arg summit_namespace)/map"/>
	<!-- Run the map server -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
            <param name="frame_id" value="$(arg frame_id)"/>
	</node>

</launch>
