<?xml version="1.0"?>
<launch>
    <arg name="ur5_namespace" default="ur5"/>

    <!-- Fake Calibration -->
    <node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" />

    <!-- arm controller -->
    <rosparam file="$(find ur5_control)/controller/arm_controller_ur5.yaml" command="load" subst_value="True"/>


    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

</launch>
