<?xml version="1.0"?>
<launch>
  <!-- TEB LOCAL PLANNER -->
  <arg name="summit_namespace" default="summit_xl"/>
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/> <!-- using twist mux -->
  <arg name="odom_topic" default="summit_xl_control/odom"/> 
  <arg name="global_frame" default="$(arg summit_namespace)/map"/>
  <arg name="odom_frame" default="$(arg summit_namespace)/odom"/>
  <arg name="base_frame" default="$(arg summit_namespace)/base_footprint"/>
  <arg name="scan_topic_front_laser" default="front_laser/scan"/>
  <arg name="scan_topic_rear_laser" default="rear_laser/scan"/>
  
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
        <rosparam file="$(find summit_xl_navigation)/config/move_base_params.yaml" command="load" subst_value="True"/>
        <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="True" />
        <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="True"/>
        <rosparam file="$(find summit_xl_navigation)/config/local_costmap_params.yaml" command="load" subst_value="True"/>
        <!--rosparam file="$(find summit_xl_navigation)/config/global_costmap_params_no_map.yaml" command="load" subst_value="True"/-->
        <rosparam file="$(find summit_xl_navigation)/config/global_costmap_params_map.yaml" command="load" subst_value="True"/>
        <rosparam file="$(find summit_xl_navigation)/config/teb_local_planner_diff_params.yaml" command="load" subst_value="True"/>

	<param name="controller_frequency" value="5.0" />
	<param name="controller_patience" value="15.0" /> 

        <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
        <!--remap from="odom" to="$(arg odom_topic)" /-->
  </node>
  
</launch>


